# macOS
.DS_Store

# PNPM
/node_modules/

# React Router
/.react-router/
/build/

# GitHub
/.github/

# VSCode
/.vscode/

# Git
/.gitignore

# Node.js
/.node_version

# Secrets
/.env
/.env.example

# Prettier
/.prettierrc.json

# ESLint
/eslint.config.ts
.eslintcache

# Docker
/.dockerignore
/docker-compose.yml

# Other
/LICENSE.md
/README.md
